<font size="5"><b>Case Study II</b><br><br>
Module 8: Dimensionality Reduction
 </font>

<font color='red'>

Objective:<br><br>
• Understand and practice linear discriminant analysis using scikit learn.<br>
Questions:<br><br>
1. We shall use the same dataset used in previous assignment - digits. Make a 80-
20 train/test split.<br>
[Hint: Explore datasets module from scikit learn]<br><br>
2. Using scikit learn perform a LDA on the dataset. Find out the number of
components in the projected subspace.<br>
[Hint: Refer to discriminant analysis module of scikit learn]<br><br>
3. Transform the dataset and fit a logistic regression and observe the accuracy.
Compare it with the previous model based on PCA in terms of accuracy and
model complexity.<br>
[Hint: Project both the train and test samples to the new subspace]<br>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline
from sklearn import datasets, svm, metrics

In [3]:
datafile = datasets.load_digits()

In [33]:
df = pd.DataFrame(datafile.data,columns=tuple(['Data%i'%i for  i in range(64)]))

In [37]:
df.head(4)

,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Data8,Data9,...,Data54,Data55,Data56,Data57,Data58,Data59,Data60,Data61,Data62,Data63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0

In [45]:
y= df.Data63
x= df.iloc[:,0:63]

In [46]:
x.head(3)

,Data0,Data1,Data2,Data3,Data4,Data5,Data6,Data7,Data8,Data9,...,Data53,Data54,Data55,Data56,Data57,Data58,Data59,Data60,Data61,Data62
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,12.0,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,6.0,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,11.0,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0

In [62]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=.20)

In [63]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
train_x = sc.fit_transform(train_x)
test_x = sc.transform(test_x)

In [64]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [65]:
lda =LDA(n_components=1)
train_x = lda.fit_transform(train_x, train_y)
test_x = lda.transform(test_x)

C:\Users\Senjuti\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:388: UserWarning: Variables are collinear.
  warnings.warn("Variables are collinear.")

In [60]:
lda.explained_variance_ratio_.round()

array([1.])

In [61]:
logic_lda_model = LogisticRegression()

In [66]:
logic_lda_model.fit(train_x,train_y)

C:\Users\Senjuti\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Senjuti\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [67]:
y_lda_pred = logic_lda_model.predict(test_x)

In [69]:
metrics.accuracy_score(y_lda_pred,test_y)

0.95