<font size="5"><b>Case Study II</b><br><br>
Module 5  Data Manipulation
 </font>

<font color='red'>

Domain –HR <br>
focus – Insights from data <br>
Business challenge/requirement <br>
SFO Public Department - referred to as SFO has captured all the salary data of its
employees from year 2011-2014. Now we are in year 2015 and the organization is
facing some financial crisis. As first step HR wants to rationalize employee cost to
save payroll budget. You have to do data manipulation and analysis on the salary data
to answer specific questions for cost savings.<br><br>
Key issues<br>
Cost can be saved by figuring out the key pockets of high salaries<br><br>
Considerations<br>
NONE<br><br>
Data volume<br>
-Approx 150K records across files<br><br>
additional information<br>
-NA<br><br>
Business benefits<br>
Save at least 10% of employee cost by identifying and letting them go<br><br>
Approach to Solve<br>
You have to use fundamentals of Pandas covered in module 6 and answer following 5<br>
Questions<br><br>

1. Compute how much total salary cost has increased from year 2011 to 2014
2. Which Job Title in Year 2014 has highest mean salary?
3. How much money could have been saved in Year 2014 by stopping
OverTimePay?
4. Which are the top 5 common job in Year 2014 and how much do they cost SFO
?
5. Who was the top earning employee across all the years?

</font>

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df= pd.DataFrame(pd.read_csv('Salaries.csv'))
#df['TotalPay']
#plt.plot(df['Year'],df['TotalPay'])
#plt.show()
df.loc[:,['Year','TotalPay']].groupby('Year').mean()

          TotalPay
Year
2011  71743.819645
2012  74112.234931
2013  77611.443142
2014  75471.836912

In [37]:
df.loc[:,['JobTitle','TotalPay','Year']][df['Year']==2014].max()

JobTitle    Youth Comm Advisor
TotalPay                471953
Year                      2014
dtype: object

In [43]:
df.loc[:,['OvertimePay']][df.Year==2014].sum()

OvertimePay    2.059186e+08
dtype: float64

In [60]:
df.loc[:,['JobTitle','Year','TotalPay']][df.Year==2014].groupby('JobTitle').max().sort_values(by='TotalPay',ascending=False).head()

                                Year   TotalPay
JobTitle
Deputy Chief 3                  2014  471952.64
Asst Med Examiner               2014  390111.98
Chief Investment Officer        2014  339653.70
Battalion Chief, Fire Suppress  2014  335484.96
Asst Chf of Dept (Fire Dept)    2014  329390.54

In [47]:
df.loc[:,['EmployeeName','TotalPay']].max()

EmployeeName    Zuri Jones
TotalPay            567595
dtype: object