<font size="5"><b>Case Study II</b><br><br>
Module 7: Supervised Learning-1
 </font>

<font color='red'>
Objective:<br><br>
• Learn to handle missing values<br>
• Learn to fit a decision tree and compare its accuracy with random forest
classifier. <br>


Questions:<br><br>
1. Let’s attempt to predict the survival of a horse based on various observed
medical conditions. Load the data from ‘horses.csv’ and observe whether it
contains missing values.
[Hint: Pandas dataframe has a method isnull]<br><br>
2. This dataset contains many categorical features, replace them with label
encoding.
[Hint: Refer to get_dummies methods in pandas dataframe or Label encoder in
scikit-learn]<br><br>
3. Replace the missing values by the most frequent value in each column.
[Hint: Refer to Imputer class in Scikit learn preprocessing module]<br><br>
4. Fit a decision tree classifier and observe the accuracy.<br><br>
5. Fit a random forest classifier and observe the accuracy.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [3]:
data = pd.read_csv('horse.csv')
data.head(5)

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

In [4]:
data.isnull().head(7)

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,False,False,False,False,False,False,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,True,False,False,...,False,False,True,True,False,False,False,False,False,False
5,False,False,False,True,True,True,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False

Dataset Contain missing Values

In [5]:
data = data.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [6]:
data.head(7)

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,normal_pink,more_3_sec,...,45.0,8.4,cloudy,2.0,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,cool,normal,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,cloudy,2.0,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,cool,normal,dark_cyanotic,more_3_sec,...,74.0,7.4,cloudy,2.0,died,no,4300,0,0,no
5,no,adult,528355,38.0,48.0,20.0,warm,normal,pale_pink,less_3_sec,...,50.0,6.5,cloudy,2.0,lived,no,0,0,0,no
6,yes,adult,526802,37.9,48.0,16.0,normal,normal,normal_pink,less_3_sec,...,37.0,7.0,cloudy,2.0,lived,yes,3124,0,0,no

In [7]:
cols = data.columns
num_cols = data._get_numeric_data().columns
columns = list(set(cols) - set(num_cols))

In [8]:
#--- For One Column -----
labelencoder = LabelEncoder()
#y = labelencoder.fit_transform(data['surgery'])
#data1 = data[columns]
#data1.apply(lambda x : labelencoder.fit_transform(data1[x]))
for i in columns:
    data[i]=labelencoder.fit_transform(data[i])

In [9]:
data.head(7)

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,0,0,530101,38.5,66.0,28.0,1,3,3,2,...,45.0,8.4,1,2.0,0,0,11300,0,0,0
1,1,0,534817,39.2,88.0,20.0,1,2,4,1,...,50.0,85.0,1,2.0,1,0,2208,0,0,0
2,0,0,530334,38.3,40.0,24.0,2,2,5,1,...,33.0,6.7,1,2.0,2,0,0,0,0,1
3,1,1,5290409,39.1,164.0,84.0,0,2,2,2,...,48.0,7.2,2,5.3,0,1,2208,0,0,1
4,0,0,530255,37.3,104.0,35.0,1,2,2,2,...,74.0,7.4,1,2.0,0,0,4300,0,0,0
5,0,0,528355,38.0,48.0,20.0,3,2,5,1,...,50.0,6.5,1,2.0,2,0,0,0,0,0
6,1,0,526802,37.9,48.0,16.0,2,2,3,1,...,37.0,7.0,1,2.0,2,1,3124,0,0,0

In [10]:
y = data.outcome

In [11]:
for i in columns:
        data.drop(i,axis=1,inplace=True)

In [12]:
x = data[:]

In [13]:
'''corelation = x.corr()
plt.figure(figsize=(8,8))
sn.heatmap(corelation,cmap='YlGnBu',square=True)'''

"corelation = x.corr()\nplt.figure(figsize=(8,8))\nsn.heatmap(corelation,cmap='YlGnBu',square=True)"

In [14]:
#data.drop('outcome',axis=1,inplace=True)
data.drop('packed_cell_volume',axis=1,inplace=True)
data.drop('hospital_number',axis=1,inplace=True)

In [39]:
train_x_ds,test_x_ds,train_y_ds,test_y_ds=train_test_split(x,y,test_size=.30,random_state=50)

In [40]:
dis = DecisionTreeClassifier()

dis.fit(train_x_ds,train_y_ds)

ds_pred = dis.predict(test_x_ds)

In [41]:
print(metrics.accuracy_score(test_y_ds,ds_pred))

0.6444444444444445

In [45]:
randft_model = RandomForestClassifier(n_estimators=5000)

In [46]:
randft_model.fit(train_x_ds,train_y_ds)

randft_pred = randft_model.predict(test_x_ds)

In [47]:
print(metrics.accuracy_score(randft_pred,test_y_ds))

0.7444444444444445